<style>
    .TextoAlerta {
        color: red;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
</style>

    <!DOCTYPE html >
    <html >
    <head>
        <title> Dados Bancarios</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="~/Content/Site.css"></script>
        
    </head>
    <body>

        <br />
        <div class="card text-center">
            <div class="card-header">
                Informe os Dados para Identificação e Acesso 
            </div>
            <div class="card-body">
                <div class="box-parent-login">
                    <div class="well bg-white box-login">
                      

                        <fieldset>
                            <form action="/Login/Autentica" method="post">
                                <div class="form-group ls-login-user">
                                    <label for="login"> Conta:</label>

                                    <input  type="number" required="required"  name="login" id="login"  aria-label="Conta" placeholder=" Digite sua conta " pattern="[0-9]+$" />

                                </div>
                                <br />

                                <div class="form-group ls-login-password">
                                    <label for="senha"> Senha:</label>
                                    <input  type="password" required="required"  name="senha" id="senha"  aria-label="Senha" placeholder=" Digite sua senha" pattern="[0-9]+$" />
                                   
                                </div>
                                <br />
                                <input type="submit" value="Acessar conta " class="btn btn-secondary">

                                <p class="txt-center ls-login-signup">




                                </p>
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                My BANK
            </div>
        </div>
       


        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >
        <br / >

    </body>
    </html >
