<style>
    .imagem-carrossel {
        object-fit: cover;
        object-position: 0 80%;
        height: 680px;
    }
</style>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
     
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active  imagem-carrossel">
            <img src="~/Fotos/bem-vindo-bem-vindo-ou-benvindo.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>My Bank</h5>
                <p>Caixa Eletronico universal .</p>
            </div>
        </div>
    </div>
</div>

